<table style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #f5f7fa;" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr><td>
      <div style="margin: 0 auto;max-width: 560px;min-width: 280px;width: 280px;width: calc(28000% - 173040px);">
        <div style="border-collapse: collapse;display: table;width: 100%;">
        
          <div style="display: table-cell;float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 140px;width: 140px;width: calc(14000% - 78120px);padding: 10px 0 5px 0;color: #b9b9b9;font-family: &quot;Open Sans&quot;,sans-serif;">
            
          </div>
        
          <div style="display: table-cell;float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 139px;width: 139px;width: calc(14100% - 78680px);padding: 10px 0 5px 0;text-align: right;color: #b9b9b9;font-family: &quot;Open Sans&quot;,sans-serif;">
            
          </div>
        
        </div>
      </div>
      
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color: #307fb0;background-position: 0px 0px;background-image: url(/img/palms.jpg);background-repeat: repeat;">
        
          <div style="text-align: left;color: #60666d;font-size: 14px;line-height: 21px;font-family: &quot;Open Sans&quot;,sans-serif;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 167400px);">
        
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;">
      <div style="line-height:65px;font-size:1px">&nbsp;</div>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
      <h1 style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #44a8c7;font-size: 32px;line-height: 40px;font-family: Cabin,Avenir,sans-serif;text-align: center;"><span style="color:#ffffff"><strong>Пример HTML-письма</strong></span></h1><h3 style="margin-top: 20px;margin-bottom: 12px;font-style: normal;font-weight: normal;color: #44a8c7;font-size: 17px;line-height: 26px;text-align: center;"><font color="#ffffff">Какой либо текст</font></h3>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
      <div style="line-height:20px;font-size:1px">&nbsp;</div>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
      <div style="margin-bottom: 20px;text-align: center;">
        <a style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #fff;background-color: #ffffff;color: #44a8c7;font-family: &quot;Open Sans&quot;, sans-serif !important;font-family: &quot;Open Sans&quot;,sans-serif;" href="http://indie.cmail19.com/t/d-i-djhuwk-l-r/" target="_blank" rel="noopener" data-snippet-id="353ff41-59bc-f6f-a3df-193a3d411f39">Кнопка</a>
      </div>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 24px;">
      <div style="line-height:12px;font-size:1px">&nbsp;</div>
    </div>
        
          </div>
        
        </div>
      </div>
  
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
        
          <div style="text-align: left;color: #60666d;font-size: 14px;line-height: 21px;font-family: &quot;Open Sans&quot;,sans-serif;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 167400px);">
        
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;">
      <div style="line-height:10px;font-size:1px">&nbsp;</div>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 24px;">
      <h2 style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #44a8c7;font-size: 20px;line-height: 28px;text-align: center;"><strong>Какой либо текст</strong></h2><p style="margin-top: 16px;margin-bottom: 0;font-size: 16px;line-height: 24px;text-align: center;" lang="x-size-16">Hi,&nbsp;this month’s featured vacation hot spot is Fiji and we’re here to help you plan the perfect tropical getaway. Check out our tips below on how to make the most out of your time in Fiji.</p>
    </div>
        
          </div>
        
        </div>
      </div>
  
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
        
          <div style="text-align: left;color: #60666d;font-size: 14px;line-height: 21px;font-family: &quot;Open Sans&quot;,sans-serif;float: left;max-width: 320px;min-width: 300px;width: 320px;width: calc(12300px - 2000%);">
          
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;margin-bottom: 24px;">
        <div style="font-size: 12px;font-style: normal;font-weight: normal;" align="center">
          <img style="border: 0;display: block;height: auto;width: 100%;max-width: 480px;" alt="" width="260" src="/img/ocean1.jpg">
        </div>
      </div>
          
          </div>
        
          <div style="text-align: left;color: #60666d;font-size: 14px;line-height: 21px;font-family: &quot;Open Sans&quot;,sans-serif;float: left;max-width: 320px;min-width: 300px;width: 320px;width: calc(12300px - 2000%);">
          
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;">
      <h3 style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #44a8c7;font-size: 17px;line-height: 26px;"><strong>Какой либо текст</strong></h3><p style="margin-top: 12px;margin-bottom: 20px;">Fiji has an amazing array of outdoor activities for you to sample like snorkeling, surfing, and fishing. For those looking for a slow-paced vacation, try a scenic hike, boat rides or helicopter tour.&nbsp;</p>
    </div>
          
            <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 24px;">
      <div style="text-align:left;">
        <a style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #fff;background-color: #5c91ad;font-family: 'Open Sans', sans-serif;" href="http://indie.cmail19.com/t/d-i-djhuwk-l-y/" target="_blank" rel="noopener">Кнопка</a>
      </div>
    </div>
          
          </div>
        
        </div>
      </div>
  
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
        
          <div style="text-align: left;color: #60666d;font-size: 14px;line-height: 21px;font-family: &quot;Open Sans&quot;,sans-serif;float: left;max-width: 320px;min-width: 300px;width: 320px;width: calc(12300px - 2000%);">
          
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;margin-bottom: 24px;">
        <div style="font-size: 12px;font-style: normal;font-weight: normal;" align="center">
          <img style="border: 0;display: block;height: auto;width: 100%;max-width: 480px;" alt="" width="260" src="/img/ocean2.jpg">
        </div>
      </div>
          
          </div>
        
          <div style="text-align: left;color: #60666d;font-size: 14px;line-height: 21px;font-family: &quot;Open Sans&quot;,sans-serif;float: left;max-width: 320px;min-width: 300px;width: 320px;width: calc(12300px - 2000%);">
          
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;">
      <h3 style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #44a8c7;font-size: 17px;line-height: 26px;"><strong>Какой либо текст</strong></h3><p style="margin-top: 12px;margin-bottom: 20px;">Fiji has a ton of great beaches to check out, regardless of whether you're looking for a romantic getaway or a sporty vibe. We’ve compiled a guide to our favorite beaches in Fiji.</p>
    </div>
          
            <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 24px;">
      <div style="text-align:left;">
        <a style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #fff;background-color: #5c91ad;font-family: 'Open Sans', sans-serif;" href="http://indie.cmail19.com/t/d-i-djhuwk-l-i/" target="_blank" rel="noopener">Кнопка</a>
      </div>
    </div>
          
          </div>
        
        </div>
      </div>
  
      
  
      <div style="line-height:40px;font-size:40px;">&nbsp;</div>
  
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;">
        
          <div style="text-align: left;font-size: 12px;line-height: 19px;color: #b9b9b9;font-family: &quot;Open Sans&quot;,sans-serif;float: left;max-width: 400px;min-width: 320px;width: 320px;width: calc(8000% - 47600px);">
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;">
              
              <div>
                
              </div>
              <div style="margin-top: 18px;">
                
              </div>
            </div>
          </div>
        
          
        
        </div>
      </div>
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;">
        
          <div style="text-align: left;font-size: 12px;line-height: 19px;color: #b9b9b9;font-family: &quot;Open Sans&quot;,sans-serif;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 167400px);">
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;">
              
            </div>
          </div>
        
        </div>
      </div>
      <div style="line-height:40px;font-size:40px;">&nbsp;</div>
    </td></tr></tbody></table>