<html>
    <head>
        <title>Email Рассылка</title>
        <meta charset="utf-8" />
        <link href="/css/style.css" rel="stylesheet" media="all">
        <link href="/lib/bootstrap.min.css" rel="stylesheet">

        <style>
        </style>
    </head>
    <body>
        <div class="navbar-inverse">
            <div class="container">
            <div class="col-md-3 col-sm-0"></div>
            	<div class="col-md-6 col-sm-12">
	                <ul class="nav navbar-nav">
	                  <li><a href="/">Рассылка</a></li>
	                  <li class="active"><a href="/emails">База адресов</a></li>
	                  <li><a href="/logout">Выход</a></li>
	                </ul> 
	            </div>
	            <div class="col-md-3 col-sm-0"></div>    
            </div>    
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                    <h1>База email адресов</h1> 
                    <h4>Уникальных email-адресов в базе: {{emails_length}}</h4>
                    

                </div>
                <div class="col-md-3 col-sm-0"></div>
                </div>
                <div class="row">
                <div class="col-md-3 col-sm-0"></div>
                <div class="col-md-6 col-sm-12">
                	<h4>Загрузка <b>.csv файлов</b> с email-адресами:</h4>
                    <form action="/emails" enctype="multipart/form-data" method="post" >
                        <input type="file" name="upload" multiple="multiple" id="uploadFile"><br>
                        <input type="submit" name="uploadBtn" value="Загрузить файлы на сервер" id="uploadBtn">
                    </form>
                    <br>
                        <input type="button" name="deleteBtn" value="Удалить все адреса из базы" id="deleteAllFilesBtn">
                </div>
                <div class="col-md-3 col-sm-0"></div>
            </div>
            
                
            
        </div>
        <footer>
            <script src="/lib/jquery.min.js"></script>
            <script src="/js/front.js"></script>
            <script src="/lib/bootstrap.min.js"></script>
        </footer>
    </body>
</html>

