body{
	background: #f3f3f3;
}
a {
  color: #cb3837;
}
code {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 3px;
  background-color: #f1f1f1;
}
.greeting {
  font-weight: bold;
}
.fullWidthInput{
	width: 100%;
	margin-bottom: 5px;
}
.status h5{
	    font-size: 18px;
}
input#btnMailerGoSend {
    font-weight: bold;
    color: green;
}
input#uploadBtn{
  font-weight: bold;
  color: green;
  margin-bottom: 50px;

}
input#deleteAllFilesBtn{
  font-weight: bold;
  color: red;
}