<table style="border-collapse: collapse;table-layout: fixed;min-width: 320px;width: 100%;background-color: #fff;" cellpadding="0" cellspacing="0" role="presentation"><tbody><tr><td>
      <div style="margin: 0 auto;max-width: 560px;min-width: 280px;width: 280px;width: calc(28000% - 173040px);">
        <div style="border-collapse: collapse;display: table;width: 100%;">
        
          <div style="display: table-cell;float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 140px;width: 140px;width: calc(14000% - 78120px);padding: 10px 0 5px 0;color: #bdb9bd;font-family: Cabin,Avenir,sans-serif;">
            
          </div>
        
          <div style="display: table-cell;float: left;font-size: 12px;line-height: 19px;max-width: 280px;min-width: 139px;width: 139px;width: calc(14100% - 78680px);padding: 10px 0 5px 0;text-align: right;color: #bdb9bd;font-family: Cabin,Avenir,sans-serif;">
            
          </div>
        
        </div>
      </div>
      
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color: #ffffff;">
        
          <div style="text-align: left;color: #8f8f8f;font-size: 16px;line-height: 24px;font-family: &quot;Open Sans&quot;,sans-serif;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 167400px);">
        
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 24px;">
      <h1 style="margin-top: 0;margin-bottom: 20px;font-style: normal;font-weight: normal;color: #404040;font-size: 28px;line-height: 36px;text-align: center;">Пример HTML-письма</h1>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
      <div style="line-height:10px;font-size:1px">&nbsp;</div>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
        <div style="font-size: 12px;font-style: normal;font-weight: normal;margin-bottom: 20px;" align="center">
          <img style="border: 0;display: block;height: auto;width: 100%;max-width: 900px;" alt="" width="560" src="/img/sport.jpg">
        </div>
      </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
      <div style="line-height:10px;font-size:1px">&nbsp;</div>
    </div>
        <hr style="border-top: 1px solid #eee; ">
            <div style="margin-left: 20px;margin-right: 20px;">
      <h2 style="margin-top: 0;margin-bottom: 0;font-style: normal;font-weight: normal;color: #706f70;font-size: 18px;line-height: 26px;font-family: Cabin,Avenir,sans-serif;text-align: center;"><strong>Какой либо текст</strong></h2><p style="margin-top: 16px;margin-bottom: 20px;">Hi as a valued member of our PowerGym community, we’d love your feedback on how to further improve your fitness experience in our new expansion project. What equipment do you use the most? What new classes could you benefit from? Please fill out this quick survey to help shape our new remodel.</p>
    </div>
    <hr style="border-top: 1px solid #eee; ">
    <div style="margin-left: 20px;margin-right: 20px;">
      <p style="margin-top: 16px;margin-bottom: 20px;">Hi as a valued member of our PowerGym community, we’d love your feedback on how to further improve your fitness experience in our new expansion project. What equipment do you use the most? What new classes could you benefit from? Please fill out this quick survey to help shape our new remodel.</p>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;">
      <div style="line-height:10px;font-size:1px">&nbsp;</div>
    </div>
        
            <div style="margin-left: 20px;margin-right: 20px;margin-bottom: 24px;">
      <div style="text-align:center;">
        <a style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #fff;background-color: #e45d6b;font-family: 'Open Sans', sans-serif;" href="http://indie.cmail20.com/t/d-i-djhuwk-l-r/" target="_blank" rel="noopener">Кнопка</a>
      </div>
    </div>
        <hr style="border-top: 1px solid #eee; ">
          </div>
        
        </div>
      </div>
  
      <div style="line-height:80px;font-size:80px;">&nbsp;</div>
  
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;">
        
          <div style="text-align: left;font-size: 12px;line-height: 19px;color: #bdb9bd;font-family: Cabin,Avenir,sans-serif;float: left;max-width: 400px;min-width: 320px;width: 320px;width: calc(8000% - 47600px);">
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;">
              
              <div>
                
              </div>
              <div style="margin-top: 18px;">
                
              </div>
            </div>
          </div>
        
          <div style="text-align: left;font-size: 12px;line-height: 19px;color: #bdb9bd;font-family: Cabin,Avenir,sans-serif;float: left;max-width: 320px;min-width: 200px;width: 320px;width: calc(72200px - 12000%);">
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;">
              
            </div>
          </div>
        
        </div>
      </div>
      <div style="margin: 0 auto;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 173000px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
        <div style="border-collapse: collapse;display: table;width: 100%;">
        
          <div style="text-align: left;font-size: 12px;line-height: 19px;color: #bdb9bd;font-family: Cabin,Avenir,sans-serif;max-width: 600px;min-width: 320px;width: 320px;width: calc(28000% - 167400px);">
            <div style="margin-left: 20px;margin-right: 20px;margin-top: 10px;margin-bottom: 10px;">
            </div>
          </div>
        
        </div>
      </div>
      <div style="line-height:40px;font-size:40px;">&nbsp;</div>
    </td></tr></tbody></table>